/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color: #1D4E04;   /* background color */
	color:#000000;          /* text color for the entire page */
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#FFFFFF;       /* white text color */

}	

h3 { 
	text-align:left;     /* centers h1 and h2 content */
	color:#FFFFFF;       /* exploring new text color */

}	

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:white; 
	color: #1D4E04; 
	align-content: center;
}

a:hover {
	font-size:110%;
	background-color: #F7B857; 
	color: black; 
}

.navigation {
	margin:0 auto;
	width: 90%;
}

.footer {
	margin-left:65%;
	width:50%;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 90%;
	margin: 0 auto;    /* centers wrapper */
}


/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:3px;
	text-align:center;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 150%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	justify-content: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.stepDescription {
	width:100%;
	padding:5px;
	line-height:200%;
	color:green;
	text-align: left;
}

.stepImage {
	width:80%;	
	padding:5px;
	text-align: center;
}

.stepImage img { 
	border-radius: 20px;
	align-content: center;
}

.warning {
		background-color: #B8E6C6;
		padding:10px;
		border-radius:20px;
	}


.material-icons {
	color:#1F5703; 
	font-size:3em;
}

strong {
  font-weight: 900;
}
