@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #D7C6EB;
	color: black;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color:white; 
	color: purple; 
}

a:hover {
	font-size:200%;
	background-color: your_color_of_choice; 
	color: your_color_of_choice; 
}


