@charset "utf-8";
/* CSS Document Chem FUNdamentals*/

body {
	background-color: #1D4E04;   /* background color */
	color:#000000;          /* text color for the entire page */
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
	color:#FFFFFF;       /* white text color */

}		

h3 {
	text-align:center;     /* centers h4 content */
	color:#000000;       /* h3 black text */
}

h4 { 
	text-align:left;     /* left aligns h4 content */
	color:#FFFFFF;       /* white text color */

}

table {
	margin:0 auto;  /* centers table*/
	width:auto;
}

td {
	background-color: white;  /* sets background color for table cells*/
	text-align:center;     /* centers h4 content */
}

#wrapper {
	width: 90%;
	margin: 0 auto;    /* centers wrapper */
	align-content: center;
}

.giphy-embed {
	align-content: center
}

#giphy-embedH {
	
}

#giphy-embedC {
	
}

#giphy-embedO {
	
}

.choices {
	cursor: pointer;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:3px;
	text-align:center;
	background-color:#F7B857;
	font-weight: bold;
	font-size: 150%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.stepDescription {
	width:90%;
	padding:5px;
	line-height:200%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
	align-content: center;
}

.stepImage img { 
border-radius: 20px;
	}


strong {
  font-weight: 800;
}
